src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:loyalty-commerce-platform="http://www.mulesoft.org/schema/mule/loyalty-commerce-platform"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/loyalty-commerce-platform http://www.mulesoft.org/schema/mule/loyalty-commerce-platform/current/mule-loyalty-commerce-platform.xsd">

    <loyalty-commerce-platform:config name="config" >
        <loyalty-commerce-platform:connection server="sandbox.lcp.points.com" lpId="43f39a8f-cac9-4957-8480-a83b6093cfe3" macId="6aa481d92276468a9b03aa6044bdb68e" macKey="8DbdQYu6H8X626Shv5oI3ACAD0hRVf0dPuxps84kpaE" />
    </loyalty-commerce-platform:config>

    <flow name="validateMemberNoPasswordFlow">
        <loyalty-commerce-platform:validate-member-account config-ref="config" memberId="zX0C" firstName="John" lastName="Smith 1234"/>
        <set-payload value="#[%dw 2.0
output application/java
---
payload.balance]" />
    </flow>
    
    <flow name="validateMemberWithPasswordFlow">
        <loyalty-commerce-platform:validate-member-account config-ref="config" memberId="zX0C" firstName="John" lastName="Smith 1234" password="password"/>
        <set-payload value="#[%dw 2.0
output application/java
---
payload.balance]" />
    </flow>
    
    <flow name="getMemberDetailsFlow">
        <loyalty-commerce-platform:validate-member-account config-ref="config" memberId="zX0C" firstName="John" lastName="Smith 1234"/>
        <set-variable value="#[%dw 2.0
output application/java
---
payload.links.self.href]" variableName="MV"/>
		<loyalty-commerce-platform:get-member-details config-ref="config" memberValidation="#[%dw 2.0
output application/java
---
vars.MV as String]"/>
        <set-payload value="#[%dw 2.0
output application/java
---
payload.balance]" />
    </flow>
    
    <flow name="creditMemberAccountFlow">
        <loyalty-commerce-platform:validate-member-account config-ref="config" memberId="zX0C" firstName="John" lastName="Smith 1234"/>
        <set-variable value="#[%dw 2.0
output application/java
---
payload.links.self.href]" variableName="MV"/>
		<loyalty-commerce-platform:credit-member-account config-ref="config" pic="pic" amount="1000" memberValidation="#[%dw 2.0
output application/java
---
vars.MV as String]"/>
        <set-payload value="#[%dw 2.0
output application/java
---
payload.status]" />
    </flow>
    
    <flow name="debitMemberAccountFlow">
        <loyalty-commerce-platform:validate-member-account config-ref="config" memberId="zX0C" firstName="John" lastName="Smith 1234"/>
        <set-variable value="#[%dw 2.0
output application/java
---
payload.links.self.href]" variableName="MV"/>
		<loyalty-commerce-platform:debit-member-account config-ref="config" pic="pic" amount="1000" memberValidation="#[%dw 2.0
output application/java
---
vars.MV as String]"/>
        <set-payload value="#[%dw 2.0
output application/java
---
payload.status]" />
    </flow>

</mule>
